.rhap_container {
  background-color: transparent;
  box-shadow: none;
}

.rhap_time {
  color: #FFFAFA;
}

.rhap_progress-indicator {
  background: darken($color:#00BFFF, $amount: 10);;
}

.rhap_play-pause-button {
  color: darken($color:#00BFFF, $amount: 10);
}